[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
mypy = "*"
pdoc3 = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[packages]
typing_extensions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
